.contactListItem {
    width: 280px;
    /* padding: 3px 7px 3px 7px; */
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    
}

.contactListItem:not(:last-child) {
margin-bottom: 10px;
}

.contactListItem__button {
    height: 20px;
    margin-left: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(151, 68, 230);
    box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.5);
    cursor: pointer;

    font-family: 'Kalam';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    align-items: center;
    letter-spacing: 0.04em;
}

.contactListItem__button:hover {
    color: aquamarine;
}
